{% extends "layout.html" %}
{% block content %}
<center>
	<h1>Bienvenido</h1>
	<h2>Apoyo en Salud y Educacion S.A.</h2>
	<h4>Escuela Privada de Auxiliares de Enfermeria "Los Altos"</h4>
	<h4>Technical Training Academy</h4>
	<h4>Pagina de Inicio Catedraticos</h4>
</center>
<br><br>
<div class="row">
	<div class="col-6">
		<a href="/clasesactuales">
			<button class="button1"><strong>Clases Actuales</strong> <i class="iconos fas fa-chalkboard"></i></button>
		</a><br>
		<a href="/claseshistorico">
			<button class="button1"><strong>Clases Historico</strong> <i class="iconos fas fa-history"></i></button>
		</a><br>
	</div>
</div>

{% endblock %}