{% extends "layout.html" %}
{% block content %}
<center>
	<h1>Editar Estudiante</h1>
</center>

<hr>
<form action="" method="POST" enctype="multipart/form-data">
	<div class="form-row">
		<div class="col-md-6">
			<label for="nombre1">Primer Nombre*</label>
			<input type="text" class="form-control" name="nombre1" id="nombre1" placeholder="Primer Nombre" value="{{estudiante[0]}}" required>
		</div>
		<div class="col-md-6">
			<label for="nombre2">Segundo Nombre</label>
			<input type="text" class="form-control" name="nombre2" id="nombre2" placeholder="Segundo Nombre" value="{{estudiante[1]}}">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="apellido1">Primer Apellido*</label>
			<input type="text" class="form-control" name="apellido1" id="apellido1" placeholder="Primer Apellido" value="{{estudiante[2]}}" required>
		</div>
		<div class="col-md-6">
			<label for="apellido2">Segundo Apellido</label>
			<input type="text" class="form-control" name="apellido2" id="apellido2" placeholder="Segundo Apellido" value="{{estudiante[3]}}">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="apellido3">Apellido de Casado(a)</label>
			<input type="text" class="form-control" name="apellido3" id="apellido3" placeholder="Apellido de Casado(a)" value="{{estudiante[4]}}">
		</div>
		<div class="col-md-6">
			<label for="correo">Correo</label>
			<input type="email" class="form-control" name="correo" id="correo" placeholder="Correo" value="{{estudiante[7]}}">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="genero">Género*</label>
			<select class="form-control" id="genero" name="genero" required>
				<option value="">Seleccione género</option>
				{% if estudiante[8] == 1 %}
				<option value="1" selected>Femenino</option>
				<option value="2">Masculino</option>
				{% else %}
				<option value="1">Femenino</option>
				<option value="2" selected>Masculino</option>
				{% endif %}
			</select>
		</div>
		<div class="col-md-6">
			<label for="fechanacimiento">Fecha de Nacimiento*</label>
			<input type="date" class="form-control" name="fechanacimiento" id="fechanacimiento" value="{{estudiante[9]}}" required>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="telefono">Teléfono</label>
			<input type="number" class="form-control" name="telefono" id="telefono" placeholder="Teléfono" value="{{estudiante[5]}}">
		</div>
		<div class="col-md-6">
			<label for="celular">Celular</label>
			<input type="number" class="form-control" name="celular" id="celular" placeholder="Celular" value="{{estudiante[6]}}">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="foto">Fotografia</label>
			<input type="file" class="form-control-file" id="foto" name="foto">
		</div>
	</div>
	<br>
	<center>
		<input class="btn btn-primary" type="submit" value="Aceptar">
	</center>
	<br>
	<hr>
</form>

{% endblock %}