{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<!-- fancyTable Js -->
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>

<h1>Notas del Estudiante</h1>
<br>
<div class="row">
	<div class="col-2">
		<center>
			<br>
			<img src="/static/savedphotos/{{estudiante[7]}}" class="imagen">
			<h5>{{estudiante[1]}} {{estudiante[2]}} {{estudiante[3]}} {{estudiante[4]}} {{estudiante[5]}}</h5>
			<h6><strong>{{estudiante[6]}}</strong></h6>
		</center>
	</div>
	<div class="col-10">
		<table class="table table-striped sortable" id="sampleTable">
			<tr>
				<th>No</th>
				<th>Curso</th>
				<th>Fecha de Inicio</th>
				<th>Fecha de Fin</th>
				<th>Nota</th>
			</tr>
			{% for i in clases %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{i[0]}}</td>
				<td>{{i[1]}}</td>
				<td>{{i[2]}}</td>
				<td>{{notas[loop.index - 1]}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#sampleTable").fancyTable({
			inputPlaceholder: 'Buscar',
			pagination: true,
			perPage: 30
		});
	});
</script>

{% endblock %}