{% extends "layout.html" %}
{% block content %}
<center>
	{% if nuevo == 1 %}
	<h1>Nueva Clase</h1>
	{% else %}
	<h1>Editar Clase</h1>
	{% endif %}
</center>

<hr>
<form action="" method="POST">
	<div class="form-row">
		<div class="col-md-6">
			<label for="curso">Curso*</label>
			<select class="form-control" id="curso" name="curso" required>
				<option value="">Seleccione curso</option>
				{% for i in cursos %}
				{% if i[0] == clase[0] %}
				<option value="{{i[0]}}" selected>{{i[1]}}</option>
				{% else %}
				<option value="{{i[0]}}">{{i[1]}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="col-md-6">
			<label for="catedratico">Catedrático*</label>
			<select class="form-control" id="catedratico" name="catedratico" required>
				<option value="">Seleccione catedrático</option>
				{% for i in catedraticos %}
				{% if i[0] == clase[1] %}
				<option value="{{i[0]}}" selected>{{i[1]}} {{i[2]}}</option>
				{% else %}
				<option value="{{i[0]}}">{{i[1]}} {{i[2]}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6">
			<label for="fechainicio">Fecha Inicio*</label>
			<input type="date" class="form-control" name="fechainicio" id="fechainicio" value="{{clase[3]}}" required>
		</div>
		<div class="col-md-6">
			<label for="fechafin">Fecha Fin*</label>
			<input type="date" class="form-control" name="fechafin" id="fechafin" value="{{clase[4]}}" required>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12">
			<label for="plan">Plan*</label>
			<select class="form-control" id="plan" name="plan" required>
				<option value="">Seleccione plan</option>
				{% for i in planes %}
				{% if i[0] == clase[2] %}
				<option value="{{i[0]}}" selected>{{i[1]}}</option>
				{% else %}
				<option value="{{i[0]}}">{{i[1]}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	<br>
	<center>
		<input class="btn btn-primary" type="submit" value="Aceptar">
	</center>
	<br>
	<hr>
</form>

{% endblock %}